
<!-- search-->
<p class="text-center">
  <input
  type="text"
  placeholder="Enter movie"
  ng-model="vm.movie">
  <button
  type="button"
  name="button"
  class="btn btn-sm"
  style="background-color:purple; color:white;"
  ng-click="vm.search()">Find
</button></p>

<!-- result-->
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-11">
  <span ng-show="vm.movieData">
    {{vm.movieData["Title"]}}
    {{vm.movieData["Year"]}}
  <a ng-click=vm.goToWebsite(vm.movieData["imdbID"])>
      <img ng-src={{vm.movieData["Poster"]}}/>
  </a>
  </span>
</div>
</div>


<!-- http://img.omdbapi.com/?i=tt2294629&apikey=fea60d10
http://www.omdbapi.com/?t=lion+king&y=&plot=full&r=json&apikey=fea60d10 -->
