<!-- title(desktop)-->
<div class="row background">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <p class="text-center title">
      <i class="fa fa-film"></i>Go Cinema</p>
      <p class="text-center subTitle">
        Search for the latest movies for free!
      </p>


<!-- search-->
<div class="searchBar">
  <p class="text-center">
    <input
      type="text"
      placeholder="Enter movie title"
      ng-model="vm.movie">
      <button
        type="button"
        name="button"
        class="btn btn-sm"
        style="background-color:red; color:white;"
        ng-click="vm.search()">
        Search Movie
      </button>
    </p>
</div>
<!-- movie result-->
<div class="row">
  <span ng-show="vm.movieData">
    <h1 class="text-center header">Results</h1>
    <p class="text-center header2"> Showing results with "{{vm.movieData["Title"]}}"</p>
    <div class="col-xs-1 col-sm-1 col-md-1"></div>
    <div class="col-xs-11 col-sm-11 col-md-11">
      <a ng-click=vm.goToWebsite(vm.movieData["imdbID"])>
        <img ng-src={{vm.movieData["Poster"]}}/>
      </a>
      <br>
      <!-- movie title-->
      {{vm.movieData["Title"]}}
      <br>
      <!--movie year-->
      {{vm.movieData["Year"]}}
    </span>
  </div>
  </div>
</div>
