img {
  width: 150px;
  height: 200px;
}

.background {
  background-image: url('/images/Movie-Film.jpg');
  width:102%;
  height:550px;
  opacity: 0.8;
  background-repeat: no-repeat, repeat;
  color:#000000;
}

.title {
  font-size:100px;
  font-family:fruitopia;
  padding:55px 0px 0px 50px;
  color:black;
}

.searchBar {
   padding: 30px 0px 100px 0px;
   zoom: 150%;
   text-align: center;
 }
 .subTitle {
     font-size:34px;
     color:black;
     padding:0px 0px 0px 100px;
     zoom:100%
}
.header{
  font-size: 50px;
  font-family: phobo;
}
.header2{
  font-size: 20px;
  font-family: phobo;
