img {
  width: 150px;
  height: 200px;
}

.background {
  background-image: url('/images/Movie-Film.jpg');
  width:102%;
  height:550px;
  opacity: 0.8;
  background-repeat: no-repeat, repeat;
  color:#000000;
}

.title {
  font-size:100px;
  font-family:slant;
  padding:30px 0px 0px 0px;
  color:black;
}
.subTitle {
  font-size:30px;
  color:black;
  padding:0px 0px 50px 100px;
  zoom:100%;
  font-family:star avenue;
}

.searchBar {
   padding: 30px 0px 0px 0px;
   zoom: 180%;
}
.search {
  width:200px;
  height:25px;
}

.header {
  font-size: 50px;
  font-family:mayeka;
}

.header2 {
  font-size: 20px;
  font-family:mayeka;
  padding-bottom: 30px;
}

.showtimes {
  color:black;
  text-decoration: none;
  font-size: 18px;
}

.topMovies {
  text-align: center;
  padding: 0px 0px 10px 0px;
  font-size: 12px;
}

.footer {
  width:102.5%;
  height:100px;
  font-size:18px;
  padding-top:40px;
  color:white;
  background-color: #47afdf;
  opacity: 0.8;
}

.results {
  padding: 10px 0px 50px 10px;
}

a {
  cursor: pointer;
  cursor: hand;
}
/*.button {
  opacity: 0.9
}*/


/* For mobile phones: */
@media only screen and (max-width: 667px),(max-width: 480px) {
  [class*="col-xs"] {
    width: 100%;
  }
  .background {
    background-image: url('/images/Movie-Film.jpg');
    width:104%;
    height:550px;
    opacity: 0.8;
    background-repeat: no-repeat, repeat;
    color:#000000;
  }
  .title {
   font-size:60px;
   font-family:slant;
   padding:150px 0px 0px 0px;
   color:black;
 }

 .subTitle {
    font-size:17px;
    color:black;
    padding:0px 20px 0px 20px;
    zoom:100%
  }

  .searchBar {
    padding: 0px 0px 0px 5px;
    text-align: center;
    zoom:100%;
  }
  .header2 {
    padding: 0px 5px 0px 5px;
    font-size: 20px;
    font-family: mayeka;
  }
  .header {
    padding: 0px 5px 0px 5px;
    font-size: 40px;
    font-family: mayeka;
  }

  img {
    width: 150px;
    height: 150px;
  }
  .btn {
    zoom:150%;
  }
  .footer {
   width:104%;
   height:100%;
   font-size:15px;
   padding-top:40px;
   color:white;
   background-color: #47afdf;
   opacity: 0.8;
 }
}
